<html>
    <head>
        <title>TRAPPIST-1 Age Calculator | 404!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="bootstrap.min.css"></link>
    </head>
    <body>
        <div style="text-align: center" class="container-fluid">
        <div class="row">
            <h1>404! D:</h1>
            <a href="/">Home</a>
        </div>
        </div>
    </body>
</html>